<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN" "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="severity" value="error"/>
  <module name="NewlineAtEndOfFile"/>
  <module name="FileTabCharacter"/>
  <module name="TreeWalker">
    <module name="AvoidStarImport"/>
    <module name="UnusedImports"/>
    <module name="RedundantImport"/>
    <module name="NeedBraces"/>
    <module name="EmptyStatement"/>
    <module name="EqualsHashCode"/>
    <module name="FallThrough"/>
    <module name="MissingSwitchDefault"/>
    <module name="OneStatementPerLine"/>
    <module name="MultipleVariableDeclarations"/>
    <module name="ModifierOrder"/>
    <module name="OuterTypeFilename"/>
    <module name="PackageName"/>
    <module name="TypeName"/>
    <module name="MethodName"/>
    <module name="ParameterName"/>
    <module name="MemberName"/>
    <module name="LocalVariableName"/>
    <module name="ConstantName"/>
    <module name="AvoidNestedBlocks"/>
    <module name="ArrayTypeStyle"/>
    <module name="IllegalCatch">
      <property name="illegalClassNames" value="java.lang.Throwable,java.lang.Exception,java.lang.Error"/>
    </module>
    <module name="IllegalThrows"/>
    <module name="NestedIfDepth"><property name="max" value="3"/></module>
    <module name="NestedTryDepth"><property name="max" value="1"/></module>
  </module>
</module>
